*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a35;
    color: #cfe1eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit' sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.bg-text-animation {
    position:absolute;
    top: 6rem;
    font-size: 10rem;
    text-transform:capitalize;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(51, 42, 83);
    -webkit-text-fill-color: transparent;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -1;
    user-select: none;
}

.my-photo {
    width: 8rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: buttom;
}

a {
    text-decoration: none;
    color: inherit;
}

.sosmed i{
    font-size: 1,5rem;
    color: #e2edf1;
}
.sosmed i:hover {
    color:rgb(12, 12, 12);
}

.sosmed a:not(:last-child){
    margin-right: 1rem;
}

ul {
    width:80%;
    max-width: 40rem;
    
}

ul li{
    list-style: none;
    
}

ul.sosmed li:not(:last-child){
    margin-bottom: 1rem;
}

.sosmed {
    margin-top: 1rem;
}

.link-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 34, 105);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 8px 10px 0 rgb(18, 14, 39);   
}

.link-card:hover{
    border: 2px solid white;
}

.link-icon {
    background-image: linear-gradient(to top, rgb(131, 131, 202), rgb(202, 92, 202));
    padding: 0.5rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed.link-icon i{
color: rgb(233, 232, 241);
}
.link-action {
    color: rgb(19, 18, 18);
    cursor: pointer;
    padding: 10px;

}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright img {
    width: 2rem;
    opacity: 0,4;
}

#toast {
    width: max-content;
    position: fixed;
    top: 0;

}

.toast-container {
    background-color: white;
    color:#0f0f25;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    animation: muncul 300ms ease-in-out;


}

.toast-gone {
    animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes hilang {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}